/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */


.main-container {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    background: #f5f5f5;
    
    width: 100%;
    height: 100%;
}

.main-container img {
    width: 100%;
}

.main-container__nav {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #b6b6b6;
}

.main-container__ul li {
    position: relative;
}

.main-container__ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container__ul a{
    text-decoration: none;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    position: relative;
}

.main-container__ul a:hover {
    color: #3D9DD4;
    transition: .1s;
}

.main-container__ul li::after {
    content: "";
    width: 1px;
    height: 16px;
    display: inline-block;
    position: absolute;
    background: rgba(160, 160, 160, 0.3);
    left: 95px;
    top: 5px;
}

.main-container__ul  li:last-of-type::after {
    display: none;
}

.main-container__header-links {
    display: flex;
}

.main-container__ws {
    height: 40px;
    border-bottom: solid 2px #000;
}

.main-container__logo {
    margin-right: 20px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 1);
    padding: 20px;
    border-right: solid 1px #b4b4b4;
}

.btn-default {
    height: 100%;
    border: none;
    padding: 15px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
}

.btn-default i {
    color: #b4b4b4;
}

.btn-post {
    background-color: transparent;
    border: 0;
    /*border: solid 1px #292929;*/
    color: #3c3b3b;
    cursor: pointer;
    font-size: 0.6em;
    font-weight: 800;
    height: 4.8125em;
    letter-spacing: 0.25em;
    line-height: 4.8125em;
    padding: 0 2.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn-post:hover {
    color: #3D9DD4;
    border-color: #3D9DD4;
    transition: .1s;
}

.btn-default img {
    width: 15px;
}

.main-container__aside_header_infos p a {
    text-decoration: none;
    color: #646464; 
    border-bottom: dotted 1px rgb(199, 199, 199);
}

.main-container__actions {
    display: flex;
}

.main-container__actions .btn-default:last-of-type {
    border-left: none;
}

.main-container__main_section {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto auto auto;
}

.main-container__aside {
    width: 30%;
    margin-right: 3em;
}

.main-container__aside > div {
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
}

.main-container__aside > div:last-child {
    border-bottom: none;
}

.main-container__main_content {
    width: 70%;
}

.main-container__aside_header {
    padding: 30px
}




.main-container__aside_header img {
    width: 81px;
    margin-bottom: 30px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.main-container__aside_header_infos h2 {
    color: #3c3b3b;
    font-size: 2em;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 0.25em;
    line-height: 1.65;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

.main-container__aside_header_infos p {
    font-size: 0.7em;
    color: #646464;
    font-weight: 400;
    letter-spacing: 0.25em;
    line-height: 2.5;
    margin-top: -1em;
    text-transform: uppercase;
}

.main-container__img-subtitle {
    background: #fff;
    width: 100%;
    padding: 20px 0;
    margin-top: -4px;
    border-right: solid 1px rgba(160, 160, 160, 0.3);
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);


    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container__img-subtitle img {
    border-radius: 50%;
    object-fit: cover;
    width: 36px;
    height: 36px;
}

.main-container__img-subtitle h3 {
    font-size: 0.5em;
    color: #3c3b3b;
    font-weight: 800;
    letter-spacing: 0.25em;
    line-height: 1.65;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

.main-container__img-subtitle p {
    color: #646464;
    font-size: 0.5em;
    font-weight: 400;
    letter-spacing: 0.25em;
    margin: -0.625em 0 1.7em 0;
    text-transform: uppercase;
}

.main-container__img-container {
    max-width: 351px;
    margin-bottom: 50px;
}

.main-container__otherimg-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.main-container__others_imgs .main-container__otherimg-container {
   border-bottom: dotted 1px rgba(160, 160, 160, 0.3);
   padding: 1.5em 0 1.5em 0;
}

.main-container__others_imgs .main-container__otherimg-container:last-of-type {
    border-bottom: none;
}

.main-container__otherimg-container img {
    margin-right: 15px;
    width: 51px;
}

.post-card {
    background: #fff;
    margin-bottom: 30px;
    border: solid 1px rgba(160, 160, 160, 0.3);
}

.post-card__content {
    padding: 3em 3em 3em 3em;
}

.post-card__header {
    display: flex;
    justify-content: space-between;
    padding: 3em 3em 3.3em 3em;
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
}

.post-card__author img {
    width: 36px;
    border-radius: 50%;
}

.post-card__author::after {
    content: "";
    width: 1px;
    height: 225px;
    background: rgba(160, 160, 160, 0.3);;
    display: inline-block;
    position: absolute;
    left: -36px;
    bottom: -75px;
}

.post-card__author {
    position: relative;
}

.post-card__title {
    color: #3c3b3b;
    font-weight: 800;
    letter-spacing: 0.25em;
    line-height: 1.65;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

.default-text {
    font-size: 0.7em;
    color: #646464;
    font-weight: 400;
    letter-spacing: 0.25em;
    line-height: 2.5;
    margin-top: -1em;
    text-transform: uppercase;
}

@media (max-width: 900px) {
    .main-container__main_section {
        flex-direction: column;
    }

    .main-container__ul {
        display: none;
    }
}

.post-card__date {
    color: #3c3b3b;
    display: block;
    font-size: 0.7em;
    font-weight: 800;
    letter-spacing: 0.25em;
    margin-top: 0.5em;
    text-transform: uppercase;
    white-space: nowrap;
}

.author__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 15px;
}

.post-card__author_name {
    display: flex;
    border-bottom: 0;
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    white-space: nowrap;
}

.post-card__footer {
    padding: 0 3em 3em 3em;
}

.post-card__footer p {
    font-size: 16px;
    line-height: 1.2em;
    color: #646464;
}

.main-container__aside_imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.main-container__otherimg-subtitle {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.main-container__otherimg-subtitle .img-title {
    color: #3c3b3b;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 0.25em;
    line-height: 1.65;
    margin: 0 0 1em 0;
    font-size: 13px;
    text-transform: uppercase;
}

.post-card__footer-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.post-card__stats {
    display: flex;
    max-height: 37px;
    justify-content: center;
    align-items: center;
}

.post-card__stats a {
    font-size: 0.4em;
    color: #646464;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.25em;
    line-height: 1;
    text-transform: uppercase;
    padding-right: 30px;
}

.post-card__stats a:hover {
    color: #3D9DD4;
    transition: .1s;
}

.post-card__stats p {
    padding-right: 30px;
    border-right: solid 1px rgba(160, 160, 160, 0.3);
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    padding-left: 30px;
}

.post-card__stats i {
    margin-right: 5px;
}

.post-card__stats p:last-of-type {
    border-right: none;
}

.main-container__otherimg-subtitle .img-date {
    display: block;
    color: #646464;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 0.25em;
    margin: -0.625em 0 1.7em 0;
    text-transform: uppercase;
}

.main-container__aside_footer {
    padding: 1.5em 0;
}

.main-container__aside_footer button {
    margin-top: 20px;
}

.main-container__aside_footer-medias {
    padding: 3em 0;
}

.main-container__aside_footer-medias i {
    color: #646464;
    margin-right: 20px;
}

.main-container__aside_footer-medias p {
    color: #aaaaaa;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.4em;
    font-weight: 400;
    margin-top: 40px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.main-container__aside_footer h4 {
    color: #3c3b3b;
    font-weight: 800;
    font-size: 0.8em;
    letter-spacing: 0.25em;
    line-height: 1.65;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

.main-container__aside_footer p {
    color: #646464;
    font-size: 0.6em;
    letter-spacing: 0.25em;
    line-height: 1.65;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

.pagination {
    padding: 1.5em  0 7em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination button {
    margin-right: 30px;
}

.pagination .disabled {
    pointer-events: none;
    color: rgba(160, 160, 160, 0.3) !important;
    border-color: rgba(160, 160, 160, 0.3);
}

@media (max-width: 1366px) {
    .main-container__aside{
        margin-left: 30px;
    }
}
