.menu-mobile_wrapper {
    position: fixed;
    height: 100%;
    background: white;
    top: 0;
    right: 0;
}

.menu-mobile_wrapper ul {
    display:flex;
    flex-direction: column;
    list-style:none;
    justify-content: space-between;
    width:200px;
    padding: 30px;
}

.menu-mobile_wrapper ul li {
    margin-bottom: 30px;
}

.menu-mobile_wrapper a {
    text-decoration: none;
}

.menu-mobile_container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.menu-mobile_container {
    display: none;
}