/* 
 Main começa aqui
*/

.news div {
    padding:0 40px;
    border-right: 1px solid #ddd;
}

.news div:last-child{
    border-right: none;
}

.news h3 {
    margin-bottom: 30px;
}

.news p {
    line-height:1.5em;
    margin-bottom: 30px;
}

.news a, .products a {
    background-color:var(--blue);
    padding: 10px 20px;
}


@media (max-width: 1120px) {
    .news {
        flex-direction: column;
    }

    .news div {
        padding-bottom: 30px;
        margin-bottom: 40px;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

    .news div:last-child{
        border-bottom: none;
    }
}

@media (max-width: 780px) {
    .news a, .products a {
        display: inline-block;
        width: 100%;
    }
}