/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

h1, h2, h3, h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

body {
    font-family: sans-serif;
}

:root {
    --white: rgb(255, 255, 255);
    --grey: rgb(172, 172, 172);
    --light-grey: rgb(240, 236, 236);
    --light-grey2: rgb(179, 174, 174);
    --black: #292929;
}

.header {
    background: url(./images/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-size: 50px;
    color: var(--white);
    text-align: center;
}

.header__subtitle {
    font-size: 20px;
    color: var(--grey);
    text-align: center;
}

.header__menu ul {
    display: flex;
    margin-top: 50px;
}

.header__menu ul li a {
    text-decoration: none;
    color: var(--grey);
    font-size: 20px;
    padding: 20px;
    text-transform: uppercase;
}

.header__menu ul li a:hover {
    color: var(--white);
    border: solid 1px var(--white);
    border-radius: 40px;
}

.main {
    max-width: 1366px;
    margin: auto;
}

.max__width {
    max-width: 1366px
}

.main__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.main__aside h2 {
    margin-bottom:  55px;
    font-size: 20px;
    color: var(--black);
}

.main__content {
    width: 70%;
    padding: 30px 30px 100px 30px;
}

.main__titles {
    margin-bottom: 30px;
}

.main__title {
    font-size: 40px;
    color: var(--black);
    font-weight: bold;
}

.main__texts {
    margin-top: 20px;
}

.main__text {
    margin-bottom:  20px;
} 

.mini-post__wrapper img{
    width: 70px;
    height: 70px;
}

.mini-post__date {
    font-size: 12px;
    color: var(--light-grey2);
    margin-bottom: 15px;
}

.main__mini-post {
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 20px;;
}

.mini-post__wrapper img {
    margin-right: 10px;
}

.main__mini-post {
    margin-top: 20px;
}

.mini-post__wrapper {
    display: flex;
}

.main__aside {
    padding-top: 30px;
    width: 30%;
}

.articles {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey);
}

.articles .max__width{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.articles__card {
    margin-right: 30px;
}

.articles__title {
    margin-bottom: 30px;
    font-weight: bold;
    color: (--grey);
}

.articles__txt {
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 305px;
}

.articles__more-details {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    padding: 12px;
    background: rgb(245, 79, 73);
    border-radius: 50px;
    font-size: 14px;
    margin-top: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.footer .max__width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 20px 20px 20px;
    background: var(--black);
}

.footer__title {
    color: var(--white);
    font-size: 20px;
}

.footer__links ul li a {
    text-decoration: none;
    color: var(--grey);
}

.footer__links ul{
    margin-top:  30px;
    width: 300px;
}

.footer__links {
    margin-right:  30px;
}

.footer__links ul li {
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: solid 1px var(--grey);
}

.footer__links ul li:last-child {
    border-bottom: none;
}